<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
 <div id="login">
        <h3 class="text-center text-white pt-5">Change Password</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form"  th:action="@{/change-password}" action="#" method="post">
                            <h3 class="text-center text-info">new password Password</h3>
                            
                            
                           
                            
                            <div class="form-group">
                                <label for="username" class="text-info">new Password:</label><br>
                                <input type="text"  name="newpassword"class="form-control">
                            </div>
        
        
                            
                            
                            <div class="form-group text-center">
                      
                                <input type="submit" name="submit" class="btn btn-danger btn-md" value="new Password ">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/home" class="text-info">Home page</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>

</body>
</html>