<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="container">
<div class="row">

<div class="col-md-6 offset-md-3">

<div class="my-card mt-3">

<div  th:if="${session.message}"  th:classappend="${session.message.type}"class="alert" role="alert">
  <p class="text-center" th:text="${session.message.content}"></p>
  
  <!--once it print then remove -->
  
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>

<div class="container text-center">
<img style="width:80px;" src="" th:src="@{/img/register.png}" alt="no image aviable">
</div>

<h1 class="text-center text-white">Registraction Form</h1>

<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

<!-- Name Field -->
  <div class="form-group">
    <label for="name_field">Name</label>
    <input type="text" name="name" class="form-control " 
    th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
    
     id="name_field" aria-describedby="emailHelp" placeholder="Enter the name" required th:text="${user.name}"/>
    
    <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">

    </div>
    
  </div>


  <div class="form-group">
    <label for="email_field">Email address</label>
    <input type="email" name="email" class="form-control" 
    th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
     id="email_field" aria-describedby="emailHelp" placeholder="Enter the email"required th:text="${user.email}">
  
  
  
  
   <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
    
    
    
    </div>
  </div>

<!-- password Field -->
  <div class="form-group">
    <label for="password_field">Password</label>
    <input type="password" name="password" class="form-control"
     id="password_field" aria-describedby="emailHelp" placeholder="Enter the password" required th:text="${user.password}" >
  </div>


<div class="form-group">

<textarea  placeholder="Enter something your self "  name="about"  cols="75" rows="10" class="from-control" required th:text="${user.about}" ></textarea>

</div>

<!-- Term and condition -->
<div class="from-group form-check">

<input type="checkbox" name="agreement" class="from-check-input" id="agreement">

<label for="agreement" class="text-white">Accept Term and Conditions</label>
</div>



<div class="container text-center">
<button type="submit" class="btn btn-primary btn-block text-white">Sumbit</button>

<button type="reset" class="btn btn-danger btn-block  text-white" >Reset</button>

</div>
</form>



</div>


</div>


</div>


</div>
</section>

</body>
</html>